.homeProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxGif{
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer{
    width: 98vw;
}