.divComprar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

input{
    width: 40px;
    text-align: center;
    font-size: 15pt;
}

.btnDetail{
    width: 60%;
}

